@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme inline {
	--font-sans: 'Urbanist', 'sans-serif';
	--font-serif: 'Baskervville', 'sans-serif';
	--font-display: 'GFS Didot', 'sans-serif';
	--font-articles: 'Cinzel Decorative', 'sans-serrif';
	--text-shadow-glow-white: rgba(255, 255, 255, 0.5) 0px 0px 4px;
	--text-shadow-glow-blue: rgba(4, 51, 140, 1) 0px 0px 4px;
	--shadow-glow-blue:
		0px 0px 20px rgba(67, 56, 202, 0.5), 0px 5px 5px -1px rgba(165, 180, 252, 0.1),
		inset 2px 2px 8px rgba(165, 180, 252, 0.5), inset -4px -4px 8px rgba(67, 56, 202, 0.35);
	--shadow-glow-blue-hover:
		0px 0px 30px rgba(67, 56, 202, 0.8), 0px 5px 5px -1px rgba(165, 180, 252, 0.1),
		inset 2px 2px 8px rgba(165, 180, 252, 0.5), inset -4px -4px 8px rgba(55, 48, 163, 0.35);
	--shadow-glow-gray:
		0px 0px 20px rgba(31, 41, 55, 0.5), 0px 5px 5px -1px rgba(17, 24, 39, 0.1),
		inset 2px 2px 8px rgba(55, 65, 81, 0.5), inset -4px -4px 8px rgba(17, 24, 39, 0.35);

	--animate-marquee: marquee var(--duration) infinite linear;
	--animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
	@keyframes marquee {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(calc(-100% - var(--gap)));
		}
	}
	@keyframes marquee-vertical {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(calc(-100% - var(--gap)));
		}
	}
}

::-webkit-scrollbar {
	width: 1px;
}

::-webkit-scrollbar-track {
	background: #09090b;
}

::-webkit-scrollbar-thumb {
	background: #c7d2fe;
	border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
	background: white;
}
